

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #da7c0b;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #da7c0b; /* Borde de color naranja */
    border-radius: 10px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.article-block {
    width: calc(33.33% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.article-block img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura según el ancho */
    margin-bottom: 10px; /* Espacio entre la imagen y el contenido */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}