header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #da7c0b;
    border-radius: 10px;
}

